.myContainer {
	display: flex;
	width: 10.5cm;
	height: 14.8cm;
}
.blankietCanvas {
	width: 10.5cm;
	height: 14.8cm;
}
img {
	transform: rotate(90deg) translateY(82px) translateX(81px);
	width: 14.8cm;
	height: 10.5cm;
}
