@page {
	margin: 0;
}
body {
	margin: 0;
}
.sheet {
	margin: 0;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	page-break-after: always;
}

/** Paper sizes **/
body.A4 .sheet {
	width: 210mm;
	height: 296mm;
}

@media print {
	body.A4 {
		width: 210mm;
	}
}
/*paper-css*/
@media print {
	.onlyScreen {
		display: none;
	}
	.containerA4 {
		width: 21cm;
		height: 29.7cm;
	}
	.depositTicket {
		margin: 0.5cm;
	}
}

@media screen {
	.containerA4 {
		display: none;
	}
}

.screenView {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.nextPage {
	page-break-before: always;
}

canvas {
	width: 14.8cm;
	height: 10.5cm;
	object-fit: contain;
}

td,
th {
	text-align: center;
	border: 1px solid rgba(122, 122, 122, 0.397);
}
tr {
	height: 30px;
}

input[type="file"] {
	display: none;
}

.loadFileButton {
	margin: 0.5em;
	font-size: 0.9em;
	background-color: #006daa;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 9px;
	min-width: 120px;
	display: inline-block;
}
.loadFileButton:hover {
	background-color: #004e7a;
	color: white;
	transform: scale(0.9);
}

input {
	width: 100%;
	padding: 6px 10px;
	margin: 2px 0;
	box-sizing: border-box;
	border: none;
	width: 100%;
	border-radius: 4px;
}
.container {
	background-color: #e9ebed;
	padding: 10px;
	margin: 5px auto 5px auto;
}
input:focus {
	background-color: #d2d6da;
	border: none;
	outline: none;
}
::selection {
	background: #006daa;
	color: white;
}

.header {
	background-color: #006daa;
	color: white;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
}
h1 {
	text-align: center;
	margin-top: 10px;
}
